html {
    font-size: 16px;
}

body {
    color: $color-3;
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 62.5%; // 1em = 10px
}

a {
    color: $color-9 !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: $color-5;
}

canvas {
    display: block;
}

// scss-lint:disable ImportantRule, SingleLinePerSelector, SelectorFormat
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
// scss-lint:enable ImportantRule, SingleLinePerSelector, SelectorFormat

#content{
    background: $color-1;
}

.label{
    font-size: 12px !important;
    padding: 4px 12px !important;
    border-radius: 16px !important;
    font-weight: 400 !important;
    -webkit-transition: all 0.15s ease !important;
    transition: all 0.15s ease !important;
    height: 20px !important;
}

.label-light {
  color: #333333 !important;
  background-color: #EBEBEB;
  &.label-default {
    background-color: #EBEBEB;
  }
  &.label-inverse {
    background-color: #D9DCF0;
  }
  &.label-primary {
    background-color: #CDEAE7;
  }
  &.label-success {
    background-color: #DBEFDC;
  }
  &.label-info {
    background-color: #CDEEFC;
  }
  &.label-warning {
    background-color: #FFDED3;
  }
  &.label-danger {
    background-color: #FCDAD7;
  }
}