// variables

$color-1: #eee;
$color-2: #aaa;
$color-3: #666;
$color-4: #009;
$color-5: #006;
$color-6: #999;
$color-7: #ebebeb;
$color-8: #0090bf;
$color-9: #03a9f4;

// Sidebar

$quick-panel-bg-color: #111;
$quick-panel-font-color: #7b7b7b;
$dark-blue: #435a77;
$dark-gray-font-color: #506a85;

//Social Media Colors
$google-plus: #dd4b39;
$fb: #3b5998;

$retina: 1.5;






// mixins

@mixin retina-inline-asset($name, $ext: 'png') {
    $image: 'assets/images/' + $name + '.' + $ext;
    $image-retina: 'assets/images/' + $name + '_2x.' + $ext;

    display: block;
    width: width($image);
    height: height($image);
    background-repeat: no-repeat;
    background-size: size($image);

    @if $assets-retina {
        background-image: inline($image-retina);
    } @else {
        background-image: inline($image);
    }
}
